{% extends "common/base.html" %}
{% load static %}

{% block content %}
<div class="container-full header-padding">
  <h2>Privacy and Security Statement</h2>
  <p>At FruitEx, respecting the privacy and safeguarding the personal information of our customers is a commitment that is fundamental to our business. </p>
  <p>We collect personal information from you only with your knowledge and consent to help meet our commitment to provide excellent service and to continuously improve your experience on our website. The personal information we collect may include your name, email address, mailing or business address and phone number, your orders, and may include other information when needed to fulfill your request.</p>
  <p>We collect this information to allow you to purchase or register for certain products, services and applications and complete those transactions; to enter contests; to subscribe to email newsletters; and to provide you with services or information that may be of interest to you.</p>
  <p>The type of personal information we collect falls into 5 categories:</p>
  <ol>
    <li>Account information:
      <p>This includes your name, contact information, delivery time preferences, and shipping or billing information.</p>
    </li>
    <li>Customer feedback and support:
      <p>This provides a mechanism for requesting information from FruitEx. This information also provides us with insight on how we may improve our products and services to meet your needs.</p>
    </li>
    <li>Email correspondence:
      <p>This will be used to respond to your inquiries of all kinds. With your permission, may also be used to communicate information about FruitEx and our products and services.</p>
    </li>
    <li>Transactions:
      <p>This shows us which products and services you have requested. We will not use, disclose or retain payment information (e.g. credit cards numbers) except as required under law.</p>
    </li>
    <li>Credit card or Interact information
      <p>This allows us to offer refund or other similar transaction to customers when necessary</p>
      <p>To help prevent fraud and identity theft, some of our online services may use a third-party service provider to validate your identity through an online authentication process. While you are required to provide personal information, this information is not collected the third-party service provider and FruitEx does not have access to the personal information.</p>
    </li>
  </ol>
  <h2>Collection of non-personally identifiable information</h2>
  <p>The FruitEx website and Mobile App automatically collects non-personally identifiable information from you when you visit our site. This includes click stream data, your Internet Protocol (IP) address and information collected through the use of cookies, as explained below. FruitEx Ecommerce Inc. aggregates this information about your visit with those of other visitors. You are not personally identified in any way.</p>
  <ol>
    <li>Click stream data:
      <p>This data includes general log information (click stream) such as the full Uniform Resource Locator (URL) of the pages you accessed on fruitex.ca. We also collect referral and aggregated "click-through" statistics such as page view, unique visitors and time spent on the website. This information helps us provide you with a continually improving and enhanced online experience, including the ease and speed of navigation to help you find the products, services and information you need.</p>
    </li>
    <li>Internet Protocol (IP) address:
      <p>This is the address used to connect your computer to access the Internet. This information may be used to investigate unauthorized attempts to access, alter or delete data, the spreading of viruses and other illegal intrusions to the website.</p>
    </li>
  </ol>
  <h3>When do we disclose personal information?</h3>
  <p>Your personal information will only be used or disclosed for the specific purposes for which it is collected or as authorized by law. For example, FruitEx must maintain website security, which includes the investigation of unauthorized attempts to access, alter or delete data, the spreading of viruses and other illegal intrusions. This could result in disclosures to law enforcement agencies.</p>
  <p>We may also use your personal information to send you information about FruitEx products or services or introduce you to our business partners that carry products that may be of interest to you. We may share your information with our partners, for example delivery companies and partnered retailers, in order to provide better services to you. However, any third-party that we will share the information with will be pre-screened. However, your credit card or Interac information will never be shared to any third party companies. </p>
  <h3>What are your choices?</h3>
  <p>At anytime you can have your name removed from our mail or email marketing lists. You may opt-out by contacting our Customer Support team at: support@fruitex.ca</p>
  <h3>How you can access your personal information</h3>
  <p>You can access your personal information by contacting the Customer Support team at: support@fruitex.ca. To assist us in processing your request, please include the following details:</p>
  <ol>
    <li>Contact information (your name, address, email and telephone number)</li>
    <li>Name of the product or service where you want the update applied</li>
    <li>Details of the request (e.g., change of email address, unsubscribe from a newsletter, review of your personal information, etc.)</li>
  </ol>
  <h3>How do we protect your information?</h3>
  <p>FruitEx Ecommerce Inc. uses well-established technology, such as encryption technology, to protect the security of your online personal information and your personal content.</p>
  <p>While we are committed to maintaining the security of your information, you play an important role in helping us meet this obligation. Never reveal your username, password or authentication question to anyone.</p>
  <p>Payment information and credit card information will never be disclosed to any third-party. This information will be stored on secured computers and encrypted as a further measure of protection. We are PCI compliant and use technologies such as firewall, encryption to prevent any unauthorized access to this information. Our employees may have access to some transaction information in order to respond to questions from our customers. We limit that access to the minimum information they require to provide services. For example, they do not generally have access to complete credit card numbers. </p>
</div>
{% endblock %}